.titleSchedule {
  text-align: center;
  padding: 6rem 0;
  max-width: 800px;
  margin-inline: auto;

  h2 {
    font-size: 3.7rem;
  }

  p {
    font-size: 2.2rem;
    margin-top: 25px;

  }
}

.containerSchedule {

  .containerSwiper {

    .cardSchedule {
      box-shadow: var(--box-shadow);
      padding: 20px;

      a {
        color: var(--time-color);
      }

      .containerDate {
        display: flex;
        align-items: center;

        .date {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: #ecedff;
          padding: 10px 22px;
          border-radius: 10px;

          span {
            font-size: 2.7rem;
            font-weight: bold;
            color: var(--purple);
          }
        }

        h3 {
          max-width: 350px;
          font-size: 2.4rem;
          margin-left: 20px;
          color: var(--titles-color)
        }
      }
    }

    p {
      font-size: 1.6rem;
      margin: 25px 0;
    }

    .containerButton {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background: none;
        border: none;
        font-size: 1.7rem;
        color: var(--purple);
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 28px;
      }

      time {
        font-size: 1.6rem;
        font-weight: bold;
        color: (--black);
        display: flex;
        justify-content: center;
        align-items: center;

        .timer path {
          fill: var(--time-color);
        }
      }
    }

    .containerPagination {
      display: grid;
      justify-content: center;
      padding: 60px;
    }

  }
}

@media(max-width: 768px) {

  .titleSchedule {
    max-width: 560px;
  }

  .containerSchedule {
    max-width: 560px;
    margin-inline: auto;
  }
}

@media(max-width: 480px) {

  div.titleSchedule {

    h2 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  div.containerSchedule {

    div.containerSwiper {

      div.cardSchedule {

        p {
          font-size: 1.4rem;
        }

        div.containerDate {

          div.date {
            span {
              font-size: 2rem;
            }
          }

          h3 {
            font-size: 1.8rem;
          }

        }

        div.containerButton {

          time {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}