.darkMode {
  -webkit-mask: var(--svg-icon);
  mask: var(--svg-icon);
  width: 20px;
  height: 20px;
  border: none;
  transition: background 0.2s ease-in-out;
  background: var(--links-color);

  &.active {
    background: var(--white);
  }

  &:hover {
    filter: brightness(0.8);
  }
}