#darkMode {
  display: flex;
  align-self: center;
  justify-content: center;
  background: var(--purple);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: var(--grey);
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: var(--white);
}