header{
  padding: 6rem 0;
  transition: 0.2s;

  div{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
      display: flex;
      gap: 3rem;

      li{
        font-size: 1.7rem;
        color: var(--black);
      }
    }
  }

  .logo{
    width: 200px;
  }

  &.headerScrollActive{
    height: 9rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--purple);
    transition:  0.2s linear;
    z-index: 100;

    li{
      color: #fff
    }

    .logo{
      width: 154px;
    }
  }
}

