header {
  padding: 6rem 0;
  transition: 0.2s;

  div {
    padding: 0 1rem;
    max-width: 1120px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.logoContainer {
      display: flex;
      margin: 0;

      .logo {
        width: 200px;
      }

      button {
        display: none;
      }
    }

    ul {
      display: flex;
      gap: 3rem;

      li {

        a {
          font-size: 1.7rem;
          color: var(--black);
          padding: 20px 0;

          &:hover {
            color: var(--purple);
          }
        }
      }
    }
  }



  &.headerScrollActive {
    height: 9rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--purple);
    transition: 0.2s linear;
    z-index: 100;

    li {

      a {
        color: #fff;

        &:hover {
          color: #FFFD57;
        }
      }
    }

    .logo {
      width: 154px;
    }
  }
}

//Responsive - Tablets

@media (max-width: 768px) {

  header {
    background: var(--purple);
    position: absolute;
    width: 100%;
    padding: 1rem;

    div {
      max-width: 560px;
      display: initial;
      padding: 0 10px;
      flex-direction: column;

      div.logoContainer {
        flex-direction: initial;
        display: flex;
        justify-content: space-between;
        margin-inline: auto;

        button {
          display: flex;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          border: none;
          background: none;
          cursor: pointer;
          gap: 0.5rem;

          span.hamburguer {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
          }

          span.hamburguer::after,
          span.hamburguer::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
          }

          span.hamburguer::after {
            margin-top: 3px;
          }

          span.hamburguer::before {
            margin-top: 5px;
          }
        }

        button.active {

          span.hamburguer {
            background: transparent;
          }

          span.hamburguer::before {
            transform: rotate(135deg);
          }

          span.hamburguer::after {
            transform: rotate(-135deg);
            margin-top: -2px;
          }
        }
      }

      nav {
        display: none;
        padding: 40px 0;

        ul {
          flex-direction: column;
          text-align: center;

          li:hover {
            color: #fff;
          }
        }

        &.active {
          display: initial;
        }
      }
    }
  }
}

@media(max-width:481px) {
  header {

    div {
      max-width: 320px;

      div.logoContainer {}

    }
  }
}