header {
  padding: 6rem 0;
  transition: 0.2s;

  div {
    padding: 0 1rem;
    max-width: 1120px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.logoContainer {
      display: flex;
      margin: 0;

      .logo {
        width: 200px;

        & path {
          fill: var(--logo-color);
        }

        &.active path {
          fill: var(--white);
        }
      }

      button {
        display: none;
      }
    }

    ul {
      display: flex;
      gap: 3rem;

      li {

        a {
          font-size: 1.7rem;
          padding: 20px 0;

          &:hover {
            color: var(--purple);
          }
        }
      }
    }
  }



  &.headerScrollActive {
    height: 9rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--purple);
    transition: 0.2s linear;
    z-index: 100;

    li {

      a {
        color: var(--pure-white);

        &:hover {
          color: var(--yellow);
        }
      }
    }

    .logo {
      width: 154px;
    }
  }
}

//Responsive - Tablets

@media (max-width: 768px) {

  header {
    background: var(--purple);
    position: absolute;
    width: 100%;
    padding: 1rem;

    div {
      max-width: 560px;
      display: initial;
      padding: 0 10px;
      flex-direction: column;

      div.logoContainer {
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: space-between;
        margin-inline: auto;

        .buttons {
          display: flex;
          align-items: center;
          flex-direction: row;
          margin: 0;
          padding: 0;
          gap: 10px;

          button.mobile {
            display: flex;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: 0.5rem;

            span.hamburguer {
              content: '';
              display: block;
              width: 20px;
              height: 2px;
              background: currentColor;
            }

            span.hamburguer::after,
            span.hamburguer::before {
              content: '';
              display: block;
              width: 20px;
              height: 2px;
              background: currentColor;
            }

            span.hamburguer::after {
              margin-top: 3px;
            }

            span.hamburguer::before {
              margin-top: 5px;
            }
          }

          button.active {

            span.hamburguer {
              background: transparent;
            }

            span.hamburguer::before {
              transform: rotate(135deg);
            }

            span.hamburguer::after {
              transform: rotate(-135deg);
              margin-top: -2px;
            }
          }

          button.darkMode {
            display: flex;
            margin-top: 8px;
          }
        }

      }

      nav {
        display: none;
        padding: 40px 0;

        ul {
          flex-direction: column;
          text-align: center;

          li {

            a {
              color: var(--pure-white);
            }

            a:hover {
              color: var(--yellow);
            }

            .darkMode {
              display: none;
            }
          }
        }

        &.active {
          display: initial;
        }
      }
    }
  }
}

@media(max-width:481px) {
  header {

    div {
      max-width: 320px;
    }
  }
}