:root{
  --purple: #717CFF;
  --dark-purple:#4654FD;
  --blue:#5C96FF;
  --red: #FF5959;
  --orange:#FA706C;
  --green: #70CE88;
  --green2:#27AE60;
  --grey: #7D7D7D;
  --black: #373737;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%; // font padrão 10px
}

body{
  margin: 0 auto;
}

body, input, text-area, button{
  font-family: 'Roboto', sans-serif;
}

button{
  cursor: pointer;
}

section{
  max-width: 1120px;
  margin: 0 auto;
}

main{
  // max-width: 1120px;
  // margin: 0 auto;

  section.banner{
    margin: 0 auto;
    display: flex;
    height: calc(100vh - 50px);
    
    .content{
      margin: 6rem 0 ;

     h1{
      font-weight: 900;
      font-size: 5.6rem;
      line-height: 6.6rem;

        span{
          color: var(--purple);
        }
     }

     p{
       font-size: 2.2rem;
       font-weight: 500;
       line-height: 3.8rem;
       color: var(--grey);
       padding: 3rem 0;
     }

     button{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      background: var(--purple);
      border: none;
      border-radius: 11px;
      padding: 1.5rem;
      width: 26.2rem ;
      font-size: 2.2rem;

      &:hover{
        background: var(--dark-purple);
      }
     }
    }
    .imagesBanner{

      .ball-purple{
        background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
        mix-blend-mode: normal;
        opacity: 0.7;
        position:absolute;
        width: 500px;
        height: 500px;
        clip-path: ellipse(50% 40% at 50% 50%);
        margin-top: -450px;
        margin-left: 50px;
        z-index: -999;

      }
    }
  }

  section.features{
    width: 100%;
    background: #fff;

    div.backgroundHeader{
      margin: -30px auto 0 auto;
      transform: skewY(-5deg);
      text-align: center;
      background: #fff;
      z-index: -2;

      header{
      transform: skewY(5deg);

          h2{
            font-size: 3.7rem ;
            line-height: 5.4rem;
          }
  
          p{
            font-size: 2.2rem;
            line-height: 3.8rem;
            color: var(--grey)
          }
      }
    }

    div.cardContainer{
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      z-index: 2;

      div.card{
        margin: 30px 0;
        padding: 30px;
        max-width: 344px;
        border-radius: 15px;
        box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.05);

        span{
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &::before{
            content: '';
            display: block;
            width: 76px;
            height: 76px;
            background: currentColor;
            border-radius: 50%;
            margin-right: -62px;
          }

          &.star::before{
            color: var(--purple);
          }
          
          &.playlistSchool::before{
            color: var(--red);
          }

          &.playlistCheck::before{
            color: var(--orange);
          }

          &.toys::before{
            color: var(--blue);
          }

          &.work::before{
            color: var(--green2);
          }

          &.timerOff::before{
            color: var(--orange);
          }
        }

        h3{
          font-size: 2.5rem;
          margin-top: 3.0rem;
        }

        p{
          font-size: 1.6rem;
          line-height: 2.8rem;
          color: var(--grey);
          margin-top: 1rem;
        }
      }
    }
  }

  section.news{
    background: #FAFAFA;
    max-width: 100%;
  }


}