:root {
  --purple: #717CFF;
  --dark-purple: #4654FD;
  --blue: #5C96FF;
  --red: #FF5959;
  --orange: #FA706C;
  --green: #70CE88;
  --green2: #27AE60;
  --grey: #7D7D7D;
  --dark-background: #15162b;
  --dark-background-contrast: #0e0e28;
  --pure-black: #000;
  --black: #373737;
  --pure-white: #FFF;
  --white: #FAFAFA;
  --shadow-light: 0px 0px 77px rgba(0, 0, 0, 0.05);
  --shadow-dark: 0px 0px 77px rgb(129 129 129 / 3%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%; // font padrão 10px
  scroll-behavior: smooth;
}

body {
  margin-inline: 0 auto;
  background: var(--background-color);
  transition: background 0.3s;
}

body h1 {
  color: var(--title-color);
}

body h2,
body h3 {
  color: var(--titles-color);
}

body p {
  color: var(--text-color);
}

body a {
  color: var(--links-color)
}

body.light {
  --background-color: var(--pure-white);
  --background-contrast: var(--white);
  --logo-color: var(--pure-black);
  --text-color: var(--grey);
  --title-color: var(--pure-black);
  --titles-color: var(--black);
  --links-color: var(--grey);
  --box-shadow: var(--shadow-light);
  --time-color: var(--grey)
}

body.dark {
  --background-color: var(--dark-background);
  --background-contrast: var(--dark-background-contrast);
  --logo-color: var(white);
  --text-color: var(--pure-white);
  --title-color: var(--pure-white);
  --titles-color: var(--purple);
  --links-color: var(--white);
  --box-shadow: var(--shadow-dark);
  --time-color: var(--purple)
}

body,
input,
text-area,
button {
  font-family: 'Roboto', sans-serif;
}

.inputError {
  background: #F9ECEC;
}

button {
  cursor: pointer;
}

section {
  max-width: 1120px;
  margin-inline: auto;
}

main {

  section.banner {
    padding: 0 20px;
    margin-inline: auto;
    display: flex;

    .content {
      margin: 6rem 0;

      h1 {
        font-weight: 900;
        font-size: 5.6rem;
        line-height: 6.6rem;

        span {
          color: var(--purple);
        }
      }

      p {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3.8rem;
        padding: 3rem 0;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        background: var(--purple);
        border: none;
        border-radius: 11px;
        padding: 1.5rem;
        width: 26.2rem;
        font-size: 2.2rem;

        &:hover {
          background: var(--dark-purple);
        }
      }
    }

    .imagesBanner {

      .ball-purple {
        background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
        mix-blend-mode: normal;
        opacity: 0.7;
        position: relative;
        width: 500px;
        height: 500px;
        clip-path: ellipse(50% 40% at 50% 50%);
        margin-top: -450px;
        margin-left: 50px;
        z-index: -999;

      }
    }
  }

  section.features {
    padding: 0 20px;
    width: 100%;


    div.backgroundFeatures {
      margin: -30px auto 0 auto;
      transform: skewY(-5deg);
      text-align: center;
      background: var(--background-color);
      transition: background 0.3s;


      div.featuresTitle {
        padding: 6rem 0 1rem 0;
        transform: skewY(5deg);

        h2 {
          font-size: 3.7rem;
          line-height: 5.4rem;
        }

        p {
          font-size: 2.2rem;
          line-height: 3.8rem;
        }
      }
    }

    div.cardContainer {
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      z-index: 2;

      div.card {
        margin: 30px 0;
        padding: 30px;
        max-width: 344px;
        border-radius: 15px;
        box-shadow: var(--box-shadow);

        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &::before {
            content: '';
            display: block;
            width: 76px;
            height: 76px;
            background: currentColor;
            border-radius: 50%;
            margin-right: -62px;
          }

          &.star::before {
            color: var(--purple);
          }

          &.playlistSchool::before {
            color: var(--red);
          }

          &.playlistCheck::before {
            color: var(--orange);
          }

          &.toys::before {
            color: var(--blue);
          }

          &.work::before {
            color: var(--green2);
          }

          &.timerOff::before {
            color: var(--orange);
          }
        }

        h3 {
          font-size: 2.5rem;
          margin-top: 3.0rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 2.8rem;
          margin-top: 1rem;
        }
      }
    }
  }

  section.news {
    padding: 0 20px;
    background: var(--background-contrast);
    max-width: 100%;
  }

  section.schedule {
    padding: 0 20px;
    max-width: 1120px;
    margin-inline: auto;

    .swiper-pagination-bullet-active {
      background: var(--purple); // cor da navegação do slider
    }

  }

  section.form {
    padding: 0 20px;
    background: var(--background-contrast);
    max-width: 100%;
    margin-top: 80px;
  }

  section.footer {
    padding: 0 20px;
    background: var(--purple);
    max-width: 100%;
  }

}

// Responsive Table 768px
@media(max-width: 800px) {
  main {
    section.banner {
      max-width: 560px;

      flex-direction: column;
      height: auto;

      div.content {
        margin: 13rem 0 6rem 0;
      }

      div.imagesBanner {
        display: block;
      }
    }
  }
}

@media(max-width: 768px) {
  main {

    margin-inline: auto;

    section.features {
      max-width: 560px;

      div.cardContainer {
        margin: 60px 0 50px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        div.card {
          margin: 0;
          padding: 20px;

          h3 {
            font-size: 2rem;
          }

          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media(max-width:480px) {
  main {

    section.banner {
      max-width: 320px;

      div.imagesBanner {

        img {
          max-width: 90%;
        }

        div.ball-purple {
          margin: -250px 0 0 20px;
          width: 250px;
          height: 250px;
        }
      }
    }

    section.features {
      max-width: 320px;

      div.backgroundFeatures {

        div.featuresTitle {
          h2 {
            font-size: 2.6rem;
          }

          p {
            font-size: 1.6rem;
            line-height: 2.6rem;
          }
        }
      }

      div.cardContainer {
        grid-template-columns: 1fr;
      }
    }

    section.schedule {
      max-width: 320px;
    }
  }
}