:root{
  --purple: #717CFF;
  --dark-purple:#4654FD;
  --red: #FF5959;
  --green: #70CE88;
  --grey: #7D7D7D;
  --black: #373737;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%; // font padrão 10px
}

body{
  margin: 0 auto;
}

body, input, text-area, button{
  font-family: 'Roboto', sans-serif;
}

button{
  cursor: pointer;
}

main{
  max-width: 1120px;
  margin: 0 auto;

  section.banner{
    display: flex;
    height: calc(100vh - 50px);
    
    .content{
      margin: 6rem 0 ;

     h1{
      font-weight: 900;
      font-size: 5.6rem;
      line-height: 6.6rem;

        span{
          color: var(--purple);
        }
     }

     p{
       font-size: 2.2rem;
       font-weight: 500;
       line-height: 3.8rem;
       color: var(--grey);
       padding: 3rem 0;
     }

     button{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      background: var(--purple);
      border: none;
      border-radius: 11px;
      padding: 1.5rem;
      width: 26.2rem ;
      font-size: 2.2rem;

      &:hover{
        background: var(--dark-purple);
      }
     }
    }
    .imagesBanner{

      .ball-purple{
        background: linear-gradient(189.79deg, #8471FF 8.03%, #717CFF 53.55%);
        mix-blend-mode: normal;
        opacity: 0.7;
        position:absolute;
        width: 1030px;
        height: 581px;
        clip-path: ellipse(50% 40% at 50% 50%);
        margin-top: -510px;
        margin-left: 50px;
        z-index: -999;
      }
    }
  }

  section.features{
    width: 100%;
    background: #fff;

    header{
      margin: 0 auto;
      text-align: center;
      

        h2{
          font-size: 3.7rem ;
          line-height: 5.4rem;
        }

        p{
          font-size: 2.2rem;
          line-height: 3.8rem;
          color: var(--grey)
        }
    }

    div.cardContainer{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div.card{
        margin: 30px 0;
        padding: 30px;
        max-width: 344px;
        border-radius: 15px;
        box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);

        span{
          font-size: 4rem;
          background: var(--purple);
          border-radius: 50%;
        }

        h3{
          font-size: 2.5rem;
          margin-top: 3.0rem;
        }

        p{
          font-size: 1.6rem;
          line-height: 2.8rem;
          color: var(--grey);
          margin-top: 1rem;
        }
      }
    }
  }
}