.footerContainer {
  max-width: 1120px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  .contentFooter {
    display: flex;
    align-items: center;
    gap: 50px;

    p {
      color: #fff;
      font-size: 1.8rem;
    }
  }

  .social {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

// Responsive Table 768px
@media(max-width: 768px) {
  .footerContainer {
    max-width: 560px;
  }
}